<?xml version="1.0"?>
<model>

	<name>whiskeye_arena</name>
	<version>1.0</version>

	<sdf version="1.5">whiskeye_arena.sdf</sdf>

	<author>
		<name>Ben Mitchinson</name>
		<email>bmitchinson@consequentialrobotics.com</email>
	</author>

	<description>An arena for Whiskeye to play in.</description>

</model>

