<?xml version="1.0"?>
<model>

	<name>Whiskeye Toy Ball</name>
	<version>1.0</version>

	<sdf version="1.5">whiskeye_toy_ball_blue_heavy.sdf</sdf>

	<author>
		<name>Ben Mitchinson</name>
		<email>bmitchinson@consequentialrobotics.com</email>
	</author>

	<description>A model of Whiskeye's favourite toy, a large ball.</description>

</model>

